# Data Science Tools and Ecosystem
___

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Python
* R
* Julia
* Scala
* SQL

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. Julia

Some of the commonly used libraries used by Data Scientists includes:
    
    1. Pandas
    2. NumPy
    3. Matplotlib

| Data Science Tools|
---
| TensorFlow |
| Apache Spark |
| Scikit-learn |

### Below are a few examples of evalyating arithmetic expressions in Python
___

In [3]:
# This a  simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
___
Thanawat Saelee